body {
    margin: 2em;
    background-color: rgb(0, 74, 210);
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    color: white;
}
.bio {
    text-align: justify;
    margin: 4em 0;
}
.work {
    margin: 6em 0;
}
header {
    max-width: 500px;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: .5em 1em;
}
nav a {
    text-decoration: none;
}
main {
    max-width: 500px;
}
.work p {
    margin: 0 0 1em 0;
}