body {
    margin: 2em;
    background-color: rgb(0, 74, 210);
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    max-width: 500px;
}
a {
    color: white;
}
.bio {
    margin: 4em 0;
}
.work {
    margin: 6em 0;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}